*{
    margin: 0;
    padding: 0;
}
.getintouch{
    
    background-image:url(../../rainbow-colorful.jpg);
   background-size: 90% 900px;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-top: -100px;
    float: left;
    width: 100%;
    color: white;
    height: 700px;
}
.star1{
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 70px;
    margin-left: 40px;
    gap: 5px;
    
}
.leftcontent{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    row-gap: 10px;
    
}
.signup{
    display: flex;
    flex-direction: column;
    
    float: left;
    margin-top: -400px;
    margin-left: 600px;
    overflow: hidden;
    
    
    
}
.entry{
    font-size: 30px;
    column-gap: 30px;
    border-radius: 7px;
}
.submitbtn{
    margin-top: 50px;
    height: 60px;
    width: 200px;
    
    color: white;
    border-radius: 7px;
    font-size: 20px;

    background: linear-gradient(to right, black 50%, white 50%);
background-size: 200% 100%;
background-position: right bottom;
transition: all .7s ease-out;
color: black;


}
.submitbtn:hover{
    
    cursor: pointer;
    background-position: left bottom;
    color: white;
}

